include head
div(class="container mt-5")
    div(class="row justify-content-center")
        div(class="col-12")
            div(class="table-responsive rounded p-4 border table-container")
                table(class="table table-striped table-hover" id="citysTable")
                    thead(class="table-primary")
                        tr
                            th(class="text-center fs-5") Select
                            th(class="text-center fs-5") Edit
                            th(class="text-center fs-5") City
                            th(class="text-center fs-5") Province
                    tbody(id="examTd")
                        each city in citys
                            tr
                                td(class="text-center")
                                    input(type="radio" name="city" id=city.id value=city.id)
                                td(class="text-center align-middle")
                                    a(href="/city/edit/" + city.id name=city.id class="text-dark")
                                        i(class="fa-solid fa-pen-to-square fa-beat px-1 text-dark fs-6")
                                td(class="text-center") #{city.name}
                                td(class="") #{city.Pronvincia ? city.Pronvincia.name : ''}
                    tr
                        td
                            button(type="button" class="btn btn-primary" id="botondialog") Save
                        td
                            button(type="button" class="btn btn-primary" id="botondialog") Cancel
script(src="/assets/js/tableCity.js")

include footer
