extends head
block contenido
    table.table-responsive.table.table-striped.display.nowrap.justify-content-center#usersTable
        thead
            tr(class="tableTr responsive")
                th(colspan="5") 
                    button.btn.btn-primary#addPaciente Agregar Paciente
            tr(class="tableTr responsive")
                th(class="text-center align-middle fs-6") Full Name Pacients
                th(class="text-center align-middle fs-6") Email and Phone
                th(class="text-center align-middle fs-6") Document
                th(class="text-center align-middle fs-6") Ordenes Status
                th(class="text-center align-middle fs-6 nowrap-column ") Admin Paciente
        tbody()
            each user in usuarios
                tr(class="tableTr responsive")
                    td.align-middle.userEdit#usersTd
                        p(id="search"+user.id name=user.id) #{user.first_name}, #{user.last_name}
                    td(class="align-middle userEdit")
                        p Email: #{user.email}
                        p Phone: #{user.phone}
                    td(class="align-middle userEdit")
                        p Doc #{user.document}
                    td(class="text-center align-middle userEdit")
                        each order in user.orders
                            - let sta
                            case order.status
                                when 1
                                    - sta="status-orange"
                                when 2
                                    - sta="status-red"
                                when 3
                                    - sta="status-green"
                                default
                                    - sta="status-black"
                            a(href=`order/viewOrder/${order.id}`)
                                i(class=`fa-solid fa-folder-open ${sta} px-2 userLink` empId=employee id=order.id order=order.id user=user_id route=`order/viewOrder/${order.id}`) #{order.id}
                    td(class="text-center align-middle userEdit nowrap-column")
                        a(href=`user/editUser/${user.id}/${employee}`)
                            i.fa.fa-pen-to-square.px-2.userLink
                        a(href=`order/new/${user.id}/${employee}`)
                            i.fa.fa-solid.fa-folder-plus.px-2.nav-link.userLink
                    //-    i(class="fa-solid fa-pen-to-square px-2 userLink" empId=employee user=user.id route=`user/editUser/${user.id}/${employee}`)
                    //-    i(class="fa-solid fa-pen-to-square px-2 userLink" empId=employee user=user.id route=`user/editUser/${user.id}/${employee}`)
                    //-     i(class="fa-solid fa-folder-plus px-2 userLink" empId=employee user=user.id route=`user/order/new/${user.id}/${employee}`)
        script(src='/assets/js/users.js' defer)