
//- include head2
- const examDate = new Date();
div(class="container mt-5")
    div(class="row justify-content-center")
        div(class="col-12")
            div(class="rounded p-1 border ") 
                h1 Order  / #{orderNewId.id} /  for Patient: #{user.last_name}, #{user.first_name} 
                p Date:  #{examDate.toLocaleDateString()} 
                div(class="block")
                    button(class="btn btn-primary m-2" id="btnFiltrar") PreView 
                    button(class="btn btn-primary m-2" id="sendButton") Send
                    form(action="./order/edit/4" method ="post" id="form_new_order") 

                        div(class="col-md-6 text-right")
                            div(class="form-group p-2")
                                label(for="diagnostico") Diagnostico
                                input(id="diagnostico" name="diagnosis" class="form-control" type="text" placeholder="Diagnostico" required)
                            div(class="form-group p-2")
                                label(for="doctor") Doctor
                                input(id="doctor" name="doctor_id" class="form-control" type="text" placeholder="Doctor" value="1" required)    
                            div(class="form-group p-2")     
                                label(for="comment") Comments
                                textarea(id="comment" name="observation" class="form-control" type="text" placeholder="Comentarios"  required)
                                input(type="text" name="patient_id" class="" value=user.id readonly hidden)
                                //- input(type="text" name="order_id" class="" value=orderNewId.id readonly hidden)      
                                input(type="text" name="user_name" class="" value=user.last_name  readonly hidden)   
                                input(type="text" name="employee_id" class="" value=employee_id  readonly hidden)   
                        table(class="table table-striped table-hoverdisplay display responsive nowrap justify-content-center" id="orderTable" )                    
                            thead(class="table-primary")
                                tr
                                    td(class="text-center align-middle fs-6") Select
                                    td(class="text-center align-middle fs-6") #
                                    td(class="text-center align-middle fs-6") Description
                            tbody()      
                                each exam in exams
                                    tr(class="row-exam " id="tr#{exam.id}")
                                        td(class="text-center align-middle fs-5") 
                                            input(class="seleccion" type="checkbox" id="orderNew"+exam.id name="orderNew" value=exam.id)
                                        td(class="text-center align-middle fs-6")  #{exam.id}
                                        td(class="align-middle  fs-6")  #{exam.detail}
script.
    document.getElementById("submitButton").addEventListener("click", function() {
        let form = document.getElementById("form_new_order");
        form.submit();
    })
